<header xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-md navbar-dark bg-danger">
        <div class="container">
                <img src="https://i.giphy.com/media/l4Ki4biBSwhjyrS48/giphy.webp" style="width: 50px; height: 50px">
            <a class="navbar-brand" href="/">Express Ink</a> </i>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/tattoos">Tattoos</a>
                    </li>
                    <li class="nav-item m-auto" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link active" href="/categories">Categories</a>
                    </li>


<!--                    <li class="nav-item m-auto" sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                        <a class="nav-link active" href="/scheduled">Scheduled</a>-->
<!--                    </li>-->
                </ul>


                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group input-group-sm">
                        <input type="text" id="tags" class="form-control" aria-label="Small"
                               aria-describedby="inputGroup-sizing-sm"
                               placeholder="Search for a tattoo...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary btn-number">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="#">
                            <th:block th:if="${#request.getRemoteUser() != null}"
                                      th:text="${#request.getRemoteUser()}"></th:block>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="btn btn-sm ml-3" sec:authorize="isAuthenticated()" href="/artists" style="background: #edabb3; color: darkred; border: 1px solid #7a1521">
                            <i class="fa-solid fa-earth-americas" style="color: mediumvioletred"></i> Artists
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="btn btn-light btn-sm ml-3" sec:authorize="isAuthenticated()" href="/favorites" style="background: #edabb3; color: darkred; border: 1px solid #7a1521">
                            <i class="fa-solid fa-heart" style="color: mediumvioletred"></i>  Favorites
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="btn btn-light btn-sm ml-3" href="/logoutt" sec:authorize="isAuthenticated()" style="background: darkred; color: aliceblue; border: 1px solid #7a1521">
                            <i class="fa-solid fa-arrow-right-to-bracket" style="color: navajowhite" ></i> Logout
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="btn btn-light btn-sm ml-3" href="/loginn" sec:authorize="!isAuthenticated()">
                            <i class="fa-solid fa-right-from-bracket" style="color: mediumvioletred"></i> Login
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="btn btn-light btn-sm ml-3" href="/register" sec:authorize="!isAuthenticated()">
                            <i class="fa-solid fa-circle-user" style="color: mediumvioletred"></i> Register

                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<script src="https://kit.fontawesome.com/7050e69c70.js" crossorigin="anonymous"></script>