<div xmlns:th="http://www.thymeleaf.org" id="app-6">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">ADD A NEW TATTOO</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/tattoos/add" method="post">
                    <input id="id" type="hidden" name="id" th:value="(${tattoo} != null ? ${tattoo.getId()} : '')">
                    <div class="form-group">
                        <label for="name">Tattoo name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               th:value="(${tattoo} != null ? ${tattoo.getName()} : '')"
                               required
                               placeholder="Enter tattoo name"
                               v-model="tattooName">
                    </div>
                    <div class="form-group">
                        <label for="description">Tattoo Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="(${tattoo} != null ? ${tattoo.getDescription()} : '')"
                               required
                               placeholder="Enter tattoo description"
                               v-model="tattooDesc">
                    </div>
                    <div class="form-group">
                        <label for="imgUrl">Tattoo Image URL</label>
                        <input type="text"
                               class="form-control"
                               id="imgUrl"
                               name="imgUrl"
                               th:value="(${tattoo} != null ? ${tattoo.getImgUrl()} : '')"
                               required
                               placeholder="Tattoo image url">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${tattoo} != null ? ${tattoo.getPrice()} : '')"
                               placeholder="Price"
                               v-model="tattooPrice">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select name="category" class="form-control">
                            <option th:if="${tattoo} != null"
                                    th:selected="${tattoo.getCategory() != null &&
                                tattoo.getCategory().getId() == cat.getId()}"
                                    th:each="cat : ${categories}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                            <option th:if="${tattoo} == null"
                                    th:each="cat : ${categories}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                        </select>
                    </div>

                   <!-- <div class="form-group">
                        <label>Artist</label>
                        <select name="category" class="form-control">
                            <option th:if="${tattoo} != null"
                                    th:selected="${tattoo.getArtist() != null &&
                                tattoo.getArtist().getId() == artist.getId()}"
                                    th:each="artist : ${artists}"
                                    th:value="${artist.getId()}"
                                    th:text="${artist.getName()}">
                            </option>
                            <option th:if="${tattoo} == null"
                                    th:each="artist : ${artists}"
                                    th:value="${artist.getId()}"
                                    th:text="${artist.getName()}">
                            </option>
                        </select>
                    </div>-->

                    <button id="submit" type="submit" class="btn btn-success">Submit</button>
                    <a type="button" class="btn btn-danger" href="/tattoos">Back</a>
                </form>
            </div>

            <div class="col-1" style="padding-left: 10px; border-right: 1px solid darkgrey">

            </div>
            <div class="col-1" >

            </div>

            <div class="col-5" style="background-color: #d4bdba; border-radius: 20%">
                <br>
                <b> <p class="text-danger text-center "> This is your tattoo preview: </p></b>
                <br>
                <span> Tattoo name : </span>
                <h3> {{tattooName}}</h3>
                <br>
                <span> Tattoo Description : </span>
                <h4> {{tattooDesc}}</h4>
                <br>
                <span> Tattoo Price : </span>
                <h4> {{tattooPrice}} $ </h4>
            </div>
        </div>
    </div>

</div>

<script>
    var app6 = new Vue({
        el: '#app-6',
        data: {
            tattooName: '',
            tattooDesc: '',
            tattooPrice: 0
        }
    })
</script>