<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h3 class="jumbotron-heading">
                <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}"></th:block>
                's Favorite tattoos
            </h3>
        </div>
    </section>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${tattoos.size() == 0}">
                <div> <h1 class="col-12 text-capitalize text-dark"> Favorites are empty! </h1></div>
            </div>
            <div class="col-12" th:if="${tattoos.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Tattoo</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tattoo : ${tattoos}" class="cart-item">
                            <td th:text="${tattoo.getName()}"></td>
                            <td th:text="${tattoo.getDescription()}"></td>
                            <td th:text="${tattoo.getPrice()}"></td>
                            <td th:text="${tattoo.getCategory() != null} ? ${tattoo.getCategory().getName()} : 'No Category'"></td>

                            <td>
                        <form th:action="@{'/delete-fav/{id}' (id=${tattoo.getId()})}"
                              th:method="POST">
                            <button type="submit"
                                    class="btn btn-sm btn-danger delete-product">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>




